@import '../../components/visual/variables';
@import '../../components/visual/grid-layout';
@import '../../components/visual/mixins';

.cart_page {
  @include grid-layout;
  grid-row: 1fr 1fr;
  padding: 48px;
  row-gap: 16px;
  height: auto;
  h1 {
    white-space: nowrap;
  }
}

.cart_title {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.cart_container {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  display: flex;
  flex-shrink: 2;
  width: 100%;
  align-self: flex-start;
  .button {
    margin-left: 24px;
    margin-top: 24px;
  }
  .quantity-input {
    .button {
      margin-left: 0px;
    margin-top: 0px;
    }
  }
  .button--small{
    margin-left: 0px;
    margin-top: 0px;
  }
}


.cart_aside {
  grid-column: 4 / span 2;
  grid-row: 2 / span 1;
  padding: 0px 24px;
  margin-top: -12px;
  align-self: flex-start;
  min-width: 180px;
  form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
    span {
      max-width: 440px;
    }
  }
}

.product-cart-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-card.cart {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 24px 32px;
  transition: all 0.3s ease;
  position: relative;

  ::before {
    content: '';
    position: absolute;
    left: 32px;
    right: 32px;
    top: -1px;
    border-top: 1px solid $grey-color;
  }

  .card-cart-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  &:before {
    content: none;
  }

  .product-image-container {
    height: 144px;
    width: 144px;
    flex-shrink: 0;
  }

  .product-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
  }

  h3 {
    font-weight: 700;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.01);

    .product-image {
      filter: blur(1px);
    }
  }
}

p {
  max-width: 450px;
}

.card-cart-header,
.card-cart-footer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}

.card-prices {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.card-prices {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: baseline;
}

.base-price {
  display: flex;
  flex-direction: row;
  gap: 4px;
  @include h3-style;

  p {
    &:first-child {
      font-weight: 500;
    }

    &:nth-child(2) {
      font-weight: 600;
    }
  }
}

.discounted-price {
  @include h3-style;
  display: flex;
  gap: 4px;

  .new {
    @extend .base-price;
  }

  .old {
    align-self: flex-end;

    p {
      &:first-child {
        text-decoration: none;
        color: $grey-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.01em;
      }

      &:nth-child(2) {
        text-decoration: line-through;
        color: $grey-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.01em;
      }
    }
  }
}

.discount {
  display: flex;

  p {
    align-self: flex-end;
    margin-left: 2px;
    text-decoration: none;
    color: $grey-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.01em;
  }
}

.order-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  white-space: nowrap;
  gap: 16px;
}

.price-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: baseline;
  white-space: nowrap;

  & h3:nth-child(2){
    margin-left: 24px;
    color: $grey-color;
    text-decoration: line-through;
    white-space: nowrap;
  }

  & h3:nth-child(3){
    color: $grey-color;
    white-space: nowrap;
  }
}

.quantity-container {
  margin-top: -2px;
  color: $grey-color;
}

.promo-codes-container {
  color: $grey-color;
}

.price-quantity-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.empty-cart-message {
  color: $grey-color;
}


@media (max-width: 1024px) and (min-width: 769px) {
  .cart_page {
    grid-template-columns: 1fr;

  }
  .cart_container {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .cart_aside {
    width: 100%;
    margin-top: 24px;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;

    form {
           span {
         max-width: 100%;
      }
    }
  }
 }

@media (max-width: 768px) {
  .cart_page {
    grid-template-columns: 1fr;
  padding: 32px 16px;
  }
  .cart_container {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    padding: 0px;
    .button {
      margin-left: 0px;
      margin-top: 24px;
    }
  }

  .cart_aside {
    width: 100%;
    min-width: 100%;
    margin-top: 24px;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
   padding: 0px;
    form {
           span {
         max-width: 100%;
      }
    }
  }

  .product-card.cart{
    padding: 24px 0px;
    ::before {

      left: 0px;
      right: 0px;
      top: -1px;
      border-top: 1px solid $grey-color;
    }
  }

  .order-buttons {
    flex-direction: column;
    align-items: start;
  }
}

@media (max-width: 500px) {
  .product-card.cart {
    flex-direction: column-reverse;
  }
}