.input-wrapper {
    margin-bottom: 20px;
    color: #666;

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: border-color 0.3s ease;

      &:hover {
        border-color: #666;
      }

      &:focus {
        outline: none;
        border-color: #007bff;
      }
    }
  }
  
//   .error {
//     display: flex;
//   }

//   label {
//     display: flex;
//     font-size: 16px;
//   }